<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="app-header">
    <div class="columned">
        <div class="header-container">
            <a class="brand-link" th:href="@{/}">
                <h1 class="brand-title">QuizMaster</h1>
            </a>
            <p class="brand-tagline">Test your knowledge</p>
        </div>
        <div class="end_p">
            <div th:insert="~{fragment/navbar :: navbar}"></div>
        </div>
    </div>
</header>
</body>
</html>