
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Index</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<main layout:fragment="content" class="content-wrapper">
    <h1>Quiz Webapp</h1>
    <p>Create quiz or take quiz</p>
    <div class="quiz-container">
        <div class="quiz-action">
            <a th:href="@{/setup}" class="btn btn-primary btn-center">Create Quiz</a>
        </div>
        <div class="quiz-action">
            <a th:href="@{/quizzes}" class="btn btn-primary btn-center">All Quizzes</a>
        </div>
    </div>
</main>
</body>
</html>