<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Create Quiz</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<main layout:fragment="content" class="content-wrapper">
    <h2 th:text="#{create.quiz}">Create Quiz</h2>
    <form th:action="@{/setup}" th:object="${quizSetup}" method="post" class="form-container">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group mb-3">
            <label for="quizName" class="form-label" th:text="#{quiz.name}">Quiz Name:</label>
            <input type="text" th:field="*{quizName}" class="form-control" id="quizName" required />
        </div>
        <div class="form-group mb-3">
            <label for="questionCount" class="form-label" th:text="#{question.count}">Question Count:</label>
            <select th:field="*{questionCount}" class="form-select" id="questionCount" required>
                <option th:each="i : ${#numbers.sequence(1,maxQuestions)}" th:value="${i}" th:text="${i}"></option>
            </select>
            <div th:if="${enableDescription}">
                <label>Description:</label>
                <input type="text" th:field="*{extraOption}"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{create}">Create</button>
    </form>
</main>
</body>
</html>